/*Estilos aplicados ao website Prototipando...*/

/*Seletor Universal - seleciona todos os elementos página e aplica estilos comuns padronizados*/
*{
    margin: 0; /*remove a margem padrão de todos os elementos*/
    padding: 0; /*remove o padding de todos os elementos*/
    box-sizing: border-box /*Inclui borads e reenchimentos no calculo da largura e a altura dos elementos*/
}/*Fechamento do seletor universal*/

body{
    font-family: arial, sans-serif; /*define a fonte da pagina como arial, com uma alternativa de sans-serif*/
    background-color: #ffffff; /*define a cor de fundo do body / corpo do html*/
    color: rgb(2, 1, 1); /*define a cor do texto com um tom suave de branco*/
}/*fechamento do body*/

/*Estilo do cabeçalho*/
header{
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
}/*fechamento do header*/


header button{
    right: 20px;/*alinha o botão á direita, com 20px de distância da borda direita da página*/
    top: 20px;
    position: absolute;/*posiciona o botao de forma absoluta com relação ao cabeçlho*/
    background-color: #e8508a;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}/*fechamento do header button*/


header h3{
    margin: 0;
    padding: 0;
}/*fechamento header h3*/

main{
    padding: 40px;
    text-align: center;
}/*fechamento main*/

main img{
    max-width: 400px;
}/*fechamento main img*/

section{
    margin: 40px 0px;
}
/*estilho do rodapé / footer*/
footer {
    background-color: #ffffff;
    padding: 0px;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 0%;
}/*fechamento do footer*/
